# PostHog Analytics
VITE_POSTHOG_KEY=phc_your_api_key_here
VITE_POSTHOG_HOST=https://app.posthog.com

# Sanity CMS (Blog)
VITE_SANITY_PROJECT_ID=your_project_id
VITE_SANITY_READ_TOKEN=your_read_token
